* {
  box-sizing: border-box;
}

.container {
  width: 800px;
  margin: 0 auto;
}

#nav {
  background-color: #ff6600;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#content {
  position: relative;
  top: 78px;
  padding: 15px;
}

.container > div {
  padding: 78px 0;
}

hr.bar {
  border: 2px solid #ff6600;
  width: 80px;
}

h1 {
  text-align: center;
}

/* navigator */

.menu {
  float: right;
}

.menu li {
  display: inline-block;

  width: 150px;
  padding: 10px 0px;

  border: 1px solid #fff;
  border-radius: 8px;

  list-style-type: none;
  text-align: center;
  background-color: #ff6600;
  color: #fff;
}

a {
  display: block;
  color: #fff;
  text-decoration: none;
}

li:hover  {
  border: 1px solid #ff6600;
  background-color: #fff;
}

li:hover a {
  color: #ff6600;
  font-weight: 800;
}


/* about me */

#my-avatar {
  float: left;
  margin-right: 20px;
}

#my-avatar img {
  width: 200px;
}

#about h1 {
  margin-bottom: 0;
  text-align: left;
}

h3 {
  margin: 0;
}

table {
  font-size: 14px;
  text-align: left;
}

th, td {
  vertical-align: top;
}

td {
  color: #666;
  padding-left: 10px;
}

hr {
  border: 0.5px solid #eee;
}

/* my work */

#my-work-gallery {
  text-align: center;
}

.item {
  position: relative;
  max-width: 30%;
  display: inline-block;
  margin-bottom: 10px;
}

.item img {
  width: 100%;
}

.item-info {
  background-color: rgba(255,255,255,.8);   /* 背景半透明 */

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  text-align: center;
  padding: 25px 10px;

  display: none;
}

.item:hover .item-info {
  display: block;
}

/* contact me */

form.contact-form {
  width: 50%;
  margin: 0 auto;
}

.form-row {
  margin-bottom: 15px;
}


.form-row input, .form-row textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  padding: 7px;
}


.form-row textarea {
  resize: none;
  height: 4em;
}

.form-row button {
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button[type="sumbit"] {
  background-color: #5995DA;
  color: #FFFFFF;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}

@media screen and (max-width: 1023px) {

    /*
        手機版的 css 都寫在這邊
    */

}
